<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wettervorhersage</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  </head>
  <body>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <article id="weather">
                <div class="loading">Laden...</div>
                <div class="body">
                    <h4 class="time"></h4>
                    <h2 class="short"></h2>
                    <p class="forecast lead"></p>
                    <h3>Weitere Aussichten:</h3>
                    <p class="further lead"></p>
                </div>
                <footer>
                    <small>Daten von wetterwarte-sued.com geladen.</small>
                </footer>
            </article>
        </div>
    </div>
</div> <!-- End .container -->
    
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="/javascripts/fetch-weather.js"></script>
  </body>
</html>