<!DOCTYPE html>
<html>
    <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <section id="weather">
        <div class="loading">Laden...</div>
        <div class="body">
            <h2 class="time"></h2>
            <h1 class="short"></h1>
            <div class="forecast"></div>
            <h2>Weitere Aussichten:</h2>
            <div class="further"></div>
            <div class="further-forecast"></div>
        </div>
        <footer>
            <small>Daten von wetterwarte-sued.com geladen.</small>
        </footer>
    </section>
    
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/javascripts/fetch-weather.js"></script>
  </body>
</html>