#weather .body {
    opacity: 0;	
    transition: opacity .3s;
}

#weather.ready .body {
	opacity: 1;
}

#weather .loading {
    color: #555;
}

#weather.ready .loading {
    display: none;
}

#weather footer {
	margin-top: 20px;
	font-size: 14px;
	color: #ccc;
}